.about-profile-page {
    .about-profile-img {
        height: 12rem;
        background-size: cover;
        border-radius: 50%;
    }    
}

.about-profile-clear {
    clear:both;
}

/*Desktop Query*/
@media only screen and (min-width: 768px) {
    .about-profile-img {
        float: left;
    }    
    .about-profile-text { 
        margin-left: 14rem;
    }
  }