#contact-form {
  padding-top: var(--spacer-2);

  #form__messages {
    .form__message {
      margin-top: 20px;
      text-align: center;
    }
  }
}

/*Desktop Query*/
@media only screen and (min-width: 768px) {
  #contact-form {
    margin: auto;
    width: 50%;
  }
}
