.home-section-content {
  padding: var(--spacer);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
}

.home-profile-img {
  height: 12rem;
  background-size: cover;
  border-radius: 50%;
}

.home-typing {
  margin: 1vh;
  font-family: "Source Code Pro", monospace;
  text-shadow: 0 0 3px var(--body-color);

  h1 {
    width: 0;
    border-right: 0.1em solid transparent;
    font-weight: 400;
    font-size: 1.5em;
    animation: blinking-caret 0.562s ease-in-out 0s 5 forwards,
      type-h1 0.8s steps(9) 1.5s forwards;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.25vh;
  }
  h2 {
    width: 0;
    padding-bottom: 0;
    border-bottom: 0;
    border-right: 0.1em solid transparent;
    font-weight: 300;
    font-size: 1.25em;
    animation: blinking-caret 0.562s ease-in-out 2.8s 7 forwards,
      type-h2 1.33s steps(18) 3.5s forwards;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2vh;
  }
}

@keyframes type-h1 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
  }
  100% {
    opacity: 1;
    width: 5.6em;
  }
}

@keyframes type-h2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
  }
  100% {
    opacity: 1;
    width: 10.9em;
  }
}

@keyframes blinking-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--gold-750);
  }
}

/*Desktop Query*/
@media only screen and (min-width: 768px) {
  .home-section-content {
    margin-top:5vw;
    padding-bottom:5vw;

  }
}

/*Mobile Query*/
@media only screen and (max-width: 480px) {

}

/*Tablet Query*/
@media only screen and (min-width: 481px) and (max-width: 768px) {


}
