// Footer

footer {
  flex-shrink: 0;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer-3);
  border-top: 1px solid var(--border-color);
  font-size: 85%;

  // position: absolute;
  // bottom: 0;
  // width: 95%;
  // height: 20vh;

  .footer-link-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .copyright {
    margin-top: calc(var(--spacer)/2);
  }
}