// Footer

footer {
  flex-shrink: 0;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer-3);
  border-top: 1px solid var(--border-color);
  font-size: 85%;

  .footer-link-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-theme {
    margin-left: auto;
    margin-right: 0;
  }

  .copyright {
    margin-top: calc(var(--spacer) / 2);
    small {
      color: var(--c-gray-500);
    }
  }

  .msdos {
    height: 60px;
  }
}
