// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-2);
}

.masthead-title {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.25;
  color: var(--heading-color);
  margin-top: var(--spacer);
  font-size: 1.25rem;

  a {
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: 0.5;
  }
}
