// Typography
//
// Headings, body text, lists, and other misc typographic elements.

@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/font/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/Montserrat-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacer);
  font-weight: 600;
  line-height: 1.25;
  color: var(--heading-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1.75rem;
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--border-color);
}

h3 {
  margin-top: 1.35rem;
  font-size: 1.6rem;
}

h4 {
  margin-top: 1.35rem;
  font-size: 1.35rem;
}

h5,
h6 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

hr {
  position: relative;
  margin: var(--spacer-2) 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

abbr {
  color: var(--gray-400);
  text-shadow: 0 0 5px var(--gray-400);
  text-decoration: none;
  &[title] {
    cursor: help;
  }
}

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: var(--gray-300);
  border-left: 0.25rem solid var(--border-color);
  background-color: #181a1f;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

figure {
  margin: 0;
}

strong {
  font-weight: 400;
  text-shadow: 0 0 5px var(--body-color);
}

// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: 0.1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: var(--spacer);
  border-bottom: 0;
  margin-top: var(--spacer);
}

// Emoji

img.emoji {
  margin-bottom: 0.3rem;
  display: inline;
  vertical-align: middle;
}

p.error {
  color: var(--red);
}

p.success {
  color: var(--green);
}

p.warning {
  color: var(--yellow);
}