<small>Share on: </small>
<aside id="share-buttons">
  <div class="facebook" title="Share this on Facebook">
    <a
      href="#"
      aria-label="Share this on Facebook"
      onclick="javascript:popupWindow('https://www.facebook.com/sharer.php?u={{ page.url | absolute_url | url_encode }}', 'Facebook', 550, 750);"
    >
      <img src="/assets/icons/Facebook.svg" alt="Facebook"
    /></a>
  </div>
  <div class="twitter" title="Share this on Twitter">
    <a
      href="#"
      aria-label="Share this on Twitter"
      onclick="javascript:popupWindow('https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}', 'Twitter', 600, 700);"
    >
      <img src="/assets/icons/Twitter.svg" alt="Twitter"
    /></a>
  </div>
  <div class="linkedin" title="Share this on LinkedIn">
    <a
      href="#"
      aria-label="Share this on LinkedIn"
      onclick="javascript:popupWindow('https://www.linkedin.com/shareArticle/?mini=true&url={{ page.url | absolute_url | url_encode }}', 'LinkedIn', 675, 800);"
    >
      <img src="/assets/icons/LinkedIn.svg" alt="LinkedIn"
    /></a>
  </div>
  <div class="mail" title="Share this through Email">
    <a
      href="mailto:?subject={{ page.title }}&body={{ page.url | absolute_url }}"
      aria-label="Share this through Email"
    >
      <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z"
        /></svg
    ></a>
  </div>
</aside>
<script src="/assets/js/share-buttons.js"></script>
