// Layout
//
// Styles for managing the structural hierarchy of the site.

.content-container {
  max-width: 50rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  padding-top: var(--spacer-2);
  border-top: 1px solid var(--border-color);
}


@media screen and (max-height: 1024px) {
  .home-footer {
    margin-top: calc(var(--spacer-2)*5);
  }
}
@media screen and (max-height: 760px) {
  .home-footer {
    margin-top: calc(var(--spacer-2));
  }
}

.shield {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top:1rem;
  margin-left:var(--spacer);
  margin-right:var(--spacer);
  border-top: 1px solid var(--border-color);
  img {
    margin: 0.5rem;
    margin-bottom: 0;
  }
}