// Layout
//
// Styles for managing the structural hierarchy of the site.

.content-container {
  max-width: 50rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  padding-top: var(--spacer-2);
  border-top: 1px solid var(--border-color);
}

@media screen and (min-height: 1024px) {
  .home-footer {
    margin-top: calc(var(--spacer-3)*4);
  }
}
@media screen and (max-height: 1024px) {
  .home-footer {
    margin-top: calc(var(--spacer-2)*5);
  }
}
@media screen and (max-height: 760px) {
  .home-footer {
    margin-top: calc(var(--spacer-2));
  }
}

@media screen and (min-width: 800px) {
  .shield {
    margin-left:var(--spacer);
    margin-right:var(--spacer);
    img {
      margin-left: 1rem;
      margin-right: 1rem;    
    }
  }
}
@media screen and (max-width: 800px) {
  .shield {
    margin-left:var(--spacer);
    margin-right:var(--spacer);
    img {
      margin-left: 0.5rem;
      margin-right: 0.5rem;    
    }
  }
}
@media screen and (max-width: 400px) {
  .shield {
    margin-left:0;
    margin-right:0; 
    img {
      margin-left: 0.1rem;
      margin-right: 0.1rem;
    } 
  }
}

.shield {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top:1rem;
  border-top: 1px solid var(--border-color);
  img {
    margin-bottom: 0;
  }
}