// Dark Poole theme
[data-theme="dark-poole"] {
    --body-color: var(--dark-poole-002);
    --body-bg: var(--dark-poole-001);
    --heading-color: var(--dark-poole-002);
    --link-color: var(--dark-poole-link-color);
    --link-hover-color: var(--dark-poole-link-hover);
    --border-color: var(--gray-800);
    --table-color: var(--gray-700);
    --code-bg: var(--gray-900);
  }
  