[data-theme="light"] {
  --primary-color: var(--c-gray-700);
  --secondary-color: var(--c-light-blue);

  --f-body-color: var(--c-gray-700);
  --body-bg-color: #fff;

  --f-link-color: rgba(0, 0, 0, 0.75);
  --f-link-hover-color: #000;

  --f-button-color: var(--c-white);

  --f-post-link-color: var(--c-blue);
  --f-post-link-hover-color: var(--c-blue);

  --f-heading-color: var(--c-gray-900);

  --border-color: var(--c-gray-300);

  --f-code-color: var(--c-grape);
  --code-bg: var(--c-gray-050);

  --table-color: var(--c-gray-700);

  --f-abbr-color: var(--c-gray-700);

  --text-shadow: none;
  --text-shadow-variant: none;

  --svg-filter: invert(25%) sepia(0%) saturate(7335%) hue-rotate(158deg)
    brightness(115%) contrast(70%);

}
