:root {
  --c-black: #000;
  --c-white: #fff;
  --c-red: #f33333;
  --c-pink: #e64980;
  --c-grape: #be4bdb;
  --c-purple: #7950f2;
  --c-indigo: #4c6ef5;

  --c-light-blue: #87ceeb;
  --c-blue: #228be6;
  --c-dark-blue: #003366;

  --c-cyan: #15abbfd3;
  --c-teal: #12b886;
  --c-green: #40c057e7;
  --c-yellow: #fab005;
  --c-orange: #fd7e14;
  --c-gold: #ffd700;

  --c-gray-050: #f3f7ff;
  --c-gray-100: #eaeef5;
  --c-gray-200: #dde1e9;
  --c-gray-300: #cbcfd6;
  --c-gray-400: #a6aab1;
  --c-gray-500: #858990;
  --c-gray-600: #5e6268;
  --c-gray-700: #4b4f55;
  --c-gray-800: #2d3137;
  --c-gray-900: #0d1117;

  --c-gold-300: rgba(255, 215, 0, 0.3);
  --c-gold-400: rgba(255, 215, 0, 0.4);
  --c-gold-500: rgba(255, 215, 0, 0.5);
  --c-gold-750: rgba(255, 215, 0, 0.75);
  --c-gold-800: rgba(255, 215, 0, 0.8);
}
