:root {
  --primary-color: var(--c-gold-750);
  --secondary-color: var(--c-dark-blue);

  --f-body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --f-button-font: 'Montserrat', sans-serif;
  --f-button-weight: 600;

  --f-body-size: 18px;
  --body-line-height: 1.5;
  --f-body-color: hsl(0, 0%, 85%);
  --body-bg-color: #0d1117;

  --f-link-color: rgba(255, 255, 255, 0.75);
  --f-link-hover-color: #fff;

  --f-button-color: var(--c-white);

  --f-post-link-color: var(--c-gold-750);
  --f-post-link-hover-color: var(--c-gold-400);

  --f-heading-color: var(hsl(0, 0%, 85%));
  --f-heading-weight: 600;

  --f-nav-size: 1.25rem;

  --border-color: var(--c-gray-800);
  --border-radius: 0.25rem;

  --f-code-font: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --f-code-color: var(--c-grape);
  --code-bg: var(--c-gray-800);

  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);

  --table-color: var(--c-gray-700);

  --f-abbr-color: var(--c-gray-400);

  --text-shadow: 0 0 2px var(--body-color);
  --text-shadow-variant: 0 0 2px var(--post-link-color);

  --svg-filter: invert(100%) sepia(0%) saturate(7335%) hue-rotate(158deg)
    brightness(115%) contrast(70%);
}
