<div class="footer-link-container">
  <div class="footer-links">
    <a href="/privacy-cookies/">Privacy &amp; Cookies</a>
    <div class="copyright">
      <small
        >Copyright &copy;
        <time datetime="{{ site.time | date_to_xmlschema }}"
          >2020 - {{ site.time | date: '%Y' }}</time
        >. Sam Welek. All rights reserved.
      </small>
    </div>
  </div>
  <div class="coffeeBadge">
    <script
      type="text/javascript"
      src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
      data-name="bmc-button"
      data-slug="tiberiushunter"
      data-color="#FFDD00"
      data-emoji=""
      data-font="Cookie"
      data-text="Buy me a coffee"
      data-outline-color="#000"
      data-font-color="#000"
      data-coffee-color="#fff"
    ></script>
  </div>
</div>