#share-buttons {
  display: inline-block;
  vertical-align: middle;

  :after {
    content: "";
    display: block;
    clear: both;
  }

  div {
    position: relative;
    text-align: left;
    height: 36px;
    width: 32px;
    float: left;
    text-align: center;

    a {
      img,
      svg {
        height: 1.2rem;
        margin-top: 8px;
        filter: var(--svg-filter);
      }
    }

    :hover {
      cursor: pointer;
    }
  }

  .facebook:hover {
    a {
      img {
        filter: invert(32%) sepia(20%) saturate(1711%) hue-rotate(183deg)
          brightness(95%) contrast(85%);
      }
    }
  }

  .twitter:hover {
    a {
      img {
        filter: invert(63%) sepia(21%) saturate(1235%) hue-rotate(166deg)
          brightness(96%) contrast(94%);
      }
    }
  }

  .linkedin:hover {
    a {
      img {
        filter: invert(30%) sepia(91%) saturate(1068%) hue-rotate(172deg)
          brightness(97%) contrast(101%);
      }
    }
  }

  .mail:hover {
    a {
      svg {
        fill: #7d7d7d;
      }
    }
  }
}
