.shield-container {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  .shield-row {
    display: flex;
    justify-content: center;
    margin: 0;
    img {
      height: 3rem;
      margin: var(--spacer-2);
      position: relative;
      color: var(--body-color);
      filter: invert(100%) sepia(0%) saturate(7335%) hue-rotate(158deg)
        brightness(115%) contrast(70%);
    }
  }
}

/*Desktop Query*/
@media only screen and (min-width: 768px) {
  .shield-row {
    img {
      transition: all 0.1s ease-in-out;
      height: 3rem;
      margin: var(--spacer-2);
    }
    img:hover {
      transform: scale(1.5);
      filter: invert(85%) sepia(23%) saturate(4264%) hue-rotate(359deg)
        brightness(85%) contrast(75%);
    }
  }
}
